@tailwind base;
@tailwind components;
@tailwind utilities;

/* #hero {
    letter-spacing: 0.05em !important;
} */

.title {
    line-height: 128% !important;
}

.paragraph {
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.05em !important;
}

.image-shaddow{
    /* filter: drop-shadow(20px 35px 250px rgba(255, 237, 140, 0.28)) !important; */
}

/* .image-container {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  } */